.sticky {
  position: sticky;
  top: 0px;
  z-index: 999;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.no-overflow {
  text-overflow: "";
  overflow: hidden;
  white-space: nowrap;
}

.sound-list mat-list-item:first-of-type {
  border-color: #673ab7;
  border-style: solid;
}

.sound-search{
 padding: 10px;
}

.sound-search mat-form-field {
  width: 100%;
}