<mat-toolbar class="sticky" color="primary">

  <span>
    <button mat-raised-button color="warn" (click)="stop()">STOP</button>
    <button mat-raised-button color="accent" (click)="random()">RANDOM</button>
  </span>
  <span class="fill-remaining-space"></span>

</mat-toolbar>


<div class="sound-search">
  <mat-form-field>
    <input type="text" placeholder="sound" matInput [formControl]="soundFilesControl" (keyup.enter)="onEnter()">
  </mat-form-field>


<mat-nav-list role="list" class="sound-list">
  <mat-list-item class="no-overflow" *ngFor="let soundFile of filteredsoundFiles | async" (click)="playSoundFile(soundFile.id)">
    {{soundFile.name}}
  </mat-list-item>
</mat-nav-list>
</div>