<mat-toolbar class="sticky" color="primary">

  <span>
    <button mat-raised-button color="warn" (click)="stop()">STOP</button>
    <button mat-raised-button color="accent" (click)="random()">RANDOM</button>
  </span>
  <span class="fill-remaining-space"></span>

</mat-toolbar>
<div *ngIf="soundFiles">

  <mat-nav-list role="list">
    <mat-list-item  class="no-overflow" *ngFor="let soundFile of soundFiles" (click)="playSoundFile(soundFile.id)">
      {{soundFile.name}}
    </mat-list-item>
  </mat-nav-list>


</div>
