<mat-toolbar class="sticky" color="primary">

  <span>
    <button mat-raised-button color="warn" (click)="stop()">STOP</button>
    <button mat-raised-button color="accent" (click)="random()">RANDOM</button>
  </span>
  <span class="fill-remaining-space"></span>

</mat-toolbar>


<form class="example-form">
  <mat-form-field class="full-width">
    <input type="text" placeholder="sound" matInput [formControl]="soundFilesControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="getName" (optionSelected)="soundSelected($event)">
      <mat-option *ngFor="let option of filteredsoundFiles | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

